# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work_space\study_git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
